<!DOCTYPE html>

<html ng-app="myApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Client/Plugins/bootstrap-social-gh-pages/bootstrap-social.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    <link href="~/bower_components/toastr/toastr.css" rel="stylesheet" />
    @Scripts.Render("~/Content/js")
    @Scripts.Render("~/Content/angular")
    <script src="~/bower_components/angular-file-upload/angular-file-upload.js"></script>
    <script src="~/bower_components/toastr/toastr.js"></script>
    <script src="~/app/services/apiService.js"></script>
    <script src="~/app/services/fileUploadService.js"></script>
    <script src="~/app/commonService/notificationService.js"></script>
    <script src="~/app/commonService/commonService.js"></script>
    <script src="~/app/directives/pagerDirective.js"></script>
    <script src="~/app/controllers/InfoController/infoController.js"></script>
    <script src="~/app/controllers/InfoController/infoDetailController.js"></script>
    <script src="~/app/controllers/InfoController/SearchInfoController.js"></script>
    <script src="~/app/Shared/menuController/menuController.js"></script>
    <script src="~/app/controllers/InfoCategoryController/InfoCategoryController.js"></script>
    <script src="~/bower_components/tinymce/tinymce.js"></script>
    <script src="~/bower_components/angular-ui-tinymce/src/tinymce.js"></script>
    <link href="~/bower_components/dropzone/dist/dropzone.css" rel="stylesheet" />
    <script src="~/bower_components/dropzone/dist/dropzone.js"></script>
    <script src="~/bower_components/ngdropzone/dist/ng-dropzone.js"></script>
    <link href="~/bower_components/angularjs-slider/dist/rzslider.css" rel="stylesheet" />
    <script src="~/bower_components/angularjs-slider/dist/rzslider.js"></script>
    <script src="~/bower_components/checklist-model/checklist-model.js"></script>
    <script src="~/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="~/bower_components/ng-timeago/ngtimeago.js"></script>
</head>
<body>
    @{Html.RenderPartial("_Header", "Home");}
    <!-- End header top -->

    <div class="clearfix"></div>
    @RenderPage("_Menu.cshtml")
    <!-- End menu -->
    @*@RenderPage("_Search.cshtml")*@
    <!-- End slider -->
    <div class="container">
        <div class="row">
            @RenderBody()
        </div>
    </div>
    <!-- Start footer -->
    @RenderPage("_Footer.cshtml")
    @RenderSection("scripts", required: false)
</body>
</html>
