@model PhongTot.Web.Models.RegisterViewModel
@using PhongTot.Web.Models
@{
    ViewBag.Title = "Register";
}
<div class="login">
    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        <div class="login-form">
            <h3 class="form-title">Đăng Kí</h3>
            @using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", @class = "boxRegister" }))
            {
                <div class="alert alert-danger hidden" id="alertRegister">
                    <button type="button" class="close" data-close="alert"></button>
                    <span id="register_error">
                        @ViewBag.message
                    </span>
                </div>
                @Html.AntiForgeryToken()
                @Html.ValidationMessage("CustomError")
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-solid placeholder-no-fix", id = "EmailRegister", placeholder = "Nhập Email của bạn....." })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    @*<input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Tên Tài Khoản....." name="Email" />*@
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-solid placeholder-no-fix", id = "PasswordRegister", placeholder = "Mật Khẩu....." })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    @*<input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Mật Khẩu....." name="Password" />*@
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control form-control-solid placeholder-no-fix", id = "ConfirmPasswordRegister", placeholder = "Nhập lại mật khẩu....." })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    @*<input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Mật Khẩu....." name="Password" />*@
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(m => m.FullName, new { @class = "form-control form-control-solid placeholder-no-fix", id = "FullNameRegister", placeholder = "Họ và tên....." })
                    @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
                    @*<input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Mật Khẩu....." name="Password" />*@
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control form-control-solid placeholder-no-fix", id = "AddressRegister", placeholder = "Địa chỉ....." })
                    @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                    @*<input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Mật Khẩu....." name="Password" />*@
                </div>
                <div class="form-actions">
                    <button type="submit" onclick="return fosp_register();" class="btn btn-lg btn-success uppercase">Đăng kí tài khoản</button>

                    <a href="javascript:;" id="forget-password" class="forget-password">Quên Mật Khâủ?</a>
                </div>
            }
            <div class="login-options">
                <div class="social-icons">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </div>
                @*<div class="social-icons">
                        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                    </div>*@
            </div>
        </div>
    </div>
</div>
<script>
    function fosp_register() {

        jQuery('#register_error').html('');
        jQuery('input[type="text"], input[type="password"]').removeClass('validation-failed');
        email = jQuery('#EmailRegister').val();
        pass = jQuery('#PasswordRegister').val();
        configpassword = jQuery('#ConfirmPasswordRegister').val();
        address = jQuery('#AddressRegister').val();
        fullName = jQuery('#FullNameRegister').val();
        if (email == '') {
            jQuery('#EmailRegister').addClass('alert-danger');
            jQuery('#alertRegister').removeClass('hidden');
            jQuery('#register_error').html('Vui lòng nhập địa chỉ email.');
            jQuery('#EmailRegister').focus();
            return false;
        }
        email_pattern_register = /^[a-zA-Z0-9_.-]+@@[a-zA-Z0-9]+[a-zA-Z0-9.-]+[a-zA-Z0-9]+.[a-z]{0,4}$/;
        if (!email.match(email_pattern_register)) {
            jQuery('#EmailRegister').addClass('validation-failed');
            jQuery('#register_error').html('Địa chỉ email không hợp lệ.');
            jQuery('#EmailRegister').focus();
            return false;
        }

        if (pass == '') {
            jQuery('#PasswordRegister').addClass('validation-failed');
            jQuery('#register_error').html('Vui lòng nhập mật khẩu.');
            jQuery('#PasswordRegister').focus();
            return false;
        }
        var p = jQuery('#PasswordRegister').val();
        var rp = jQuery('#PasswordRegister').val();
        if (p.length < 6 || p.length > 32) {
            jQuery('#register_error').html('Vui lòng nhập mật khẩu có độ dài từ 6-32 ký tự.');
            jQuery('#PasswordRegister').addClass('validation-failed');
            jQuery('#PasswordRegister').focus();
            return false;
        }
        if (configpassword == '') {
            jQuery('#ConfirmPasswordRegister').addClass('validation-failed');
            jQuery('#register_error').html('Mật khẩu xác thực không đúng');
            jQuery('#ConfirmPasswordRegister').focus();
            return false;
        }
        if (address == '') {
            jQuery('#AddressRegister').addClass('validation-failed');
            jQuery('#register_error').html('Vui lòng nhập địa chỉ');
            jQuery('#AddressRegister').focus();
            return false;
        }
        if (fullName == '') {
            jQuery('#FullNameRegister').addClass('validation-failed');
            jQuery('#register_error').html('Vui lòng nhập họ và tên');
            jQuery('#FullNameRegister').focus();
            return false;
        }

        if (jQuery('#register_error').html() != '') {
            return false;
        } else {
            return true;
        }

    }
</script>